# Django #
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django stuff:
*.log
*.pot
*.egg-info

*.log
*.pot
*.pyc
__pycache__

db.sqlite3
clearance/migrations/
static/
# clearance/templates
media/