# Django #
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django stuff:
*.log
*.pot
*.egg-info

*.log
*.pot
*.pyc
__pycache__

db.sqlite3
clearance/migrations/
# static/
# clearance/templates
media/
clearance/models.py
penultimate_clearance_system/__pycache__/settings.cpython-38.pyc
penultimate_clearance_system/__pycache__/

.vscode