{% extends 'portal/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        {% if uploads.count > 0 %}
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Document</th>
                                    <th>Approved</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for upload in uploads %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ upload.document }}</td>
                                    <td>{{ upload.approved }}
{% if not upload.approved %} : <p class="badge alert-danger">
{% if upload.remark %}
                                        {{upload.remark}}</td>
                                        {% else %}
No remarks yet
{% endif %}</p> 
{% endif %}
                                    </td>
                                    <td>
                                        {% if not upload.approved %}
                                        <a href="{% url 'edit_document' upload.id %}" class="btn btn-info">Edit</a> - 
                                        <a href="{% url 'delete_document' upload.id %}" class="btn btn-danger" onclick="return confirm('Are you sure about this ?')">Delete</a>
                                          
                                        {% else %}

                                        <i class="fas fa-check"></i>
                                          
                                        {% endif %}
                                        
                                    
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table> 
                        {% else %}
                          <h4 class="alert alert-danger">You are yet to upload. </h4>
                        {% endif %}
                        
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}