{% extends 'portal/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <h6 class="alert alert-success">You can update your students logbook by "By Student" or "All Outstanding". <hr/>This helps to ease the stress of having to batch-reply your students.</h6>
                <hr>
                <button type="button" class="float-left btn btn-primary" data-toggle="modal" data-target="#byStudent">By Student</button>
                <button type="button" class="float-right btn btn-primary" data-toggle="modal" data-target="#byOut">All Outstanding</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="byStudent">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Select Students You'd Want To Reply All Pending Logbook Remarks</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        {% for student in students %}
                        <div class="col-md-3">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" name='students' value="{{ student.id }}" id="student_{{ student.id }}" checked="true" />
                                <label for="student_{{ student.id }}" class="custom-control-label">{{ student.fullname }}</label>
                              </div>
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="form-group">
                        <input type="text" name="remark" required id="" placeholder="Type the remarks here..." class="form-control">
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" name="not_all" class="btn btn-primary">Save changes</button>
                </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <div class="modal fade" id="byOut">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Reply All Logbook That You Are Yet To Make Remarks On</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="remark" required id="" placeholder="Type the remarks here..." class="form-control">
                        <input type="hidden" name="all" value="Yes">
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" name="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

</section>
{% endblock content %}