{% extends 'portal/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        {% if uploads.count < 1 %}
                          <h4 class="alert alert-info">No pending uploads for this student!</h4>
                          <p>Kindly take a look at all uploads for this student instead <a href="{% url "view_upload_by_id" student.id %}" class="btn btn-success">here</a></p>
                        {% else %}
                          
                        
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Document Name</th>
                                    <th>Upload</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for upload in uploads %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{upload.document.name}}</td>
                                    <td><a href="/media/{{upload.file}}">View Uploaded File</a></td>
                                    <td>
                                      <form action="{% url "upload_save" %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ upload.id }}">
                                        <input type="hidden" name="status" value="approve">

                                      <input type="submit" onclick="return confirm('Are you sure about this ?')" class="btn btn-success" value="Approve">
                                        - 
                                      </form>
                                       -  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#a{{ upload.id }}">Reject</button></td>
                                      <div class="modal fade" id="a{{ upload.id }}">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h4 class="modal-title">Enter Remarks</h4>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <form method="POST" action="{% url "upload_save" %}">
                                                {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ upload.id }}">
                                        <input type="hidden" name="status" value="reject">

                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <textarea name="remark" minlength="5" required class="form-control">{% if upload.remark %}{{ upload.remark }}{% endif %}</textarea>
                                                        <input type="hidden" name="student_id"  value="{{ student.student.id }}">
                                                    </div>
                                                </div>
                                                <div class="modal-footer justify-content-between">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="submit" name="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>
                                          </div>
                                          <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                      </div>
                                </tr>
                           
                                {% endfor %}
                                
                            </tbody>
                        </table>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}