{% extends 'portal/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        {% if students.count < 1 %}
                          <h4 class="alert alert-warning">Sorry, there are no students. Check back later!</h4>
                        {% else %}
                          
                        {% endif %}
                        
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Name</th>
                                    <th>Reg. No</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                              {% if disable %}
                                <th>Status</th>
                              {% else %}
                              <th>Action</th>
                                
                              {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{student.fullname}}</td>
                                    <td>{{student.regno}}</td>
                                    <td>{{student.admin.email}}</td>
                                    <td>{{student.phone}}</td>
{% if disable %}
  <td>Cleared <i class="fas fa-check"></i></td>
{% else %}
{% if pending %}
<td><a href="{% url 'view_upload_by_id' student.id %}" class="btn btn-info">View Uploads</a></td>
  
{% else %}
<td><a href="{% url 'view_upload_by_id' student.id %}" class="btn btn-info">View Uploads</a></td>
  
{% endif %}

{% endif %}

                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}